<div class="left_container">
	<div class="center">
		<h1>New location</h1>

		<!-- form for new location -->
		<!-- attaches trip_id to created document -->
		<div class="new_location">
			<%=form_for Location.new, url: "/create_location/#{@trip_id}" do |f|%>
				<%=f.submit "Go!", :class => 'submit' %>
				<%=f.text_field :address, placeholder: "Enter Address" %>
				<%=f.text_area :description, :cols => "19", :rows => "10", placeholder: "Enter Description" %>
			<%end%>
	</div>
	</div>
</div>

<!-- map -->
<div>
  <div id="custom_style"></div>
</div>



