<h1>All locations for trip</h1>
<% @trip_locations.to_a.each do |location|%>
	<p><%=location.address%></p>
	<a href="/delete_location/<%=location.id%>">delete</a>
	<a href="/update_location/<%=location.id%>">update</a>
<%end%>

<br>
<a href="/new_location/<%=@trip_id%>">Add New Location to Trip</a>

<!-- map -->
<div>
  <div id="custom_style"></div>
</div>