<!DOCTYPE html>
<html>
<head>
  <title>Tripmapper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- when logged in show this -->
	<% if @current_user %>
	<a href="/mylocations">My Page</a>
	<a href="/logout">Logout</a>
	<% end %>
<%= yield %>

</body>
</html>
